a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #363636;
} 

.toolbar {
  top: 0px;
  height: 100%;
  width: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  background:black;
  border-top-right-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  z-index: 999;
}

.tool {
  height: 45px;
  width: 50px;
  border: 1px solid transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background: black;
  color: #dcdcdc;
  border-radius: 5px;
  transition: all 0s ease;
  position: relative;
}

button span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.tool:hover {
  background-color: hsl(194, 85%, 63%);
  border-color: #636363;
  transition: all 400ms cubic-bezier(.62, .1, .5, 1);
	width:300;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tool:after {
  content: attr(data-tool-tip);
  width: 10px;
  min-height: 20px;
  background:black;
  top: 0;
  left: 100%;
  margin-left: 10px;
  padding: 5px;
  position: absolute;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  transform: translateY(25%) translateX(-210%);
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  z-index: -1;
  border-radius: 5px;
}

.tool:hover:after {
  margin-top: -16%;
  margin-left: 0px;
  opacity: 1;
  background-color: hsl(194, 85%, 63%);
  min-width: 100px;
  min-height: 40px;
  transform: translateY(25%) translateX(0);
  transition: all 400ms cubic-bezier(.62, .1, .5, 1);
	color: rgb(255, 255, 255);
	white-space: nowrap;
	opacity: 1;
	font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

#download, .bg, .tool{
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.modtools{

  background-color: hsla(0, 0%, 2%, 0.064);
}

.icon-image {
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

.arrow{
  background-image: url("./icons/cursor.svg");
}
.polygon{
  background-image: url("./icons/polygon.svg");
}
.rectangle {
  background-image: url("./icons/rectangle.svg");
}
.eraser {
  background-image: url("./icons/eraser.svg");
}
.dragMode {
  background-image: url("./icons/drag.svg");
}
.union {
  background-image: url("./icons/union.png");
}
.intersection {
  background-image: url("./icons/intersection.png");
}
.delete {
  background-image: url("./icons/delete.svg");
}
.circle{
  background-image: url("./icons/circle.svg");
}
.oval{
  background-image: url("./icons/oval.svg");
}
.save {
  background-image: url("./icons/save.svg");
}
.moderation {
  background-image: url("./icons/multiselect.png");
}
.custom {
  background-image: url("./icons/custom.svg");
}


a#download, a#download:active, a#download:hover, a#download:visited {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #dcdcdc;
  text-decoration: none;
}

label {
  color: #dcdcdc;
  font-size: 11px;
  font-weight: 700;
}
.sizeLabel {
  margin-top: 5px;
}
input[type=color] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  outline: none;
}
input[type=color]::-webkit-color-swatch-wrapper {
  padding: 2px 1px;
  height: 26px;
  width: 26px;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  border: 2px solid #383838;
}
input[type=range] {
  width: 200px;
}

.active {
  background-color: #383838;
  border-color: #636363;
}

.hide {
  display: none;
}

.cross {
  cursor: pointer;
  background: none;
}

.drag {
  cursor: move;
}

.preview {
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  z-index: 999;
  border-radius: 10px;
  cursor: crosshair;
}

.button-text{
  transition: opacity 1000ms;
	opacity: 1;
	color: rgb(255, 255, 255);
	white-space: nowrap;
	width: 0;
	margin: 0;
	opacity: 1;
	margin-left: 45px;
	font-size: 20px;
	width: auto;
}